Django==6.0.5
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
python-dotenv==1.1.1
psycopg2-binary==2.9.12
cloudinary==1.45.0
django-filter==26.1
drf-spectacular==0.30.0
razorpay==2.0.1
